
html {
  width: 90%;
  max-width: 1000px;
  min-width: 700px;
  margin: auto;
  border: 1px solid #000000;
}

body {
  margin: 0;
  height: 100%;
  /*border: 1px solid black;*/
  font-family: 'Roboto Slab', serif;

}

/*Nav Styles*/

img.logo {
  height: 100px;
  margin-left: 20px;
  margin-top: 30px;
}

li.nav-items{
  display: block;
  margin-top: 30px;
  padding-left: 10px;
}

nav {
  float: left;
  height: 100%;
  position: fixed;
  background-color: #9A969C;
  width: 150px;
  margin-bottom: -5px;
  border-right: 2px solid #3E3544;
/*  margin-top: -2px;
*/  border-top: 1px solid #000000;
  /*border-left: 1px solid #000000;*/

}

/*Text Styles*/

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin-top: 50px;
  margin-bottom: -20px;
  color: white;
  font-weight: 300;
}

ul {
  margin-left: 5px;
  padding-left: 0px;
}

/*Header Styles*/

header {
    padding-left: 132px;
    padding-bottom: 20px;
    background-color: #3E3544;
    min-height: 350px;
    height: auto;
    /*border-right: 1px solid #000000;*/
    /*border-top: 1px solid #000000;*/

}

img.top-dog-photo {
  border-radius: 250px;
  height: auto;
  max-width: 300px;
  min-width: 10px;  
  border: 5px solid #9A969C;
  margin-left: 48px;
  margin-top: 25px;
}

#changing-text{
  font-weight: 800;
}


button {
  width: 375px;
  height: 40px;
  background-color: #9A969C;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 2.5px;
  border-color: #9A969C;
  font-family: "Roboto Slab", serif;
}

input {
  width: 375px;
  height: 40px;
  display: block;
  text-align: center;
}

main {
  padding-left: 180px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
  min-width: 600px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  /*border-right: 1px solid #000000;*/
}

/*Article Styles*/

img.dogPhoto {
  border-radius: 175px;
  height: 175px;
  width: 175px;
  border: 5px solid #9A969C;
  margin-bottom: 20px;
  float: left;
}

p.article {
  margin-left: 200px;
  height: 150px;
/*  min-width: 350px;
*/  font-weight: 300;
  max-width: 600px;
}

p.article-link {
  float: right;
  position: relative;
  width: 170px;
  height: 40px;
  text-align: center;
  margin: 40px;
  margin-right: 0px;
  margin-top: 10px;
  background-color:#3E3544;
  padding-top: 10px;
  color: #ffffff;
  border-radius: 2.5px;
}

.articleTitle {
  min-width: 250px;
}

.dog-column-1 .dog-column-2 .dog-column-3 {
  min-width: 300px;
  display: inline-block;
  height: 390px !important;
  margin-bottom: 90px;
}

.dog-column-1 {
  border-bottom: 2px solid #9A969C!important;
  height: 300px;
}

.dog-column-2 {
  border-bottom: 2px solid #9A969C!important;
  height: 300px;
}



/*Footer Styles*/

footer {
  background-color: #3E3544;
  width: 100%;
  height: 200px;
  text-align: right;
  margin-bottom: 0px;
  margin-right: 20px;
  color: white;
}

p.footerText {
  margin-top: 47px;
  margin-right: 23px;
  display: inline-block;
  font-size: 22px;

}


.social-media-logos {
 float: right;
    display: inline-block;
    width: 220px;
}

#facebook,
#instagram,  
#linkedin, 
#twitter {
 margin: 20px 10px 0px 10px;
}



ul.socials {
  margin-bottom: 0px;
  margin-right: 50px;

}

li.socials {
  display: inline;

}

/*Form Styles*/

div.name-form {
  width: 400px;
  position: relative;
  top: -47px;
  left: 43px;
  margin-right: 100px;
  display: inline-block;
}

p.left-align{
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  color: #ffffff;
}

*,
*:after,
*:before {
  box-sizing: border-box;


}


/** {
    border:red 1px solid
}*/


.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}